<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PKL4you</title>
        <link rel="stylesheet" href="..\css\main_style.css">
        <script src=""></script>
    </head>

<body>
    <!-- Навигационная панель -->
    <nav class="navigation_block">
        <ul class="navigation_spisok">
            <li class="navigation"><a href="main.html">Главная</a></li>
            <li class="navigation"><a href="main.html">Результат</a></li>
        </ul>
    </nav>

</body>

</html>